.example-card {
  width: 400px;
  margin: 24px;
}

.example-header-image {
  background-size: cover;
}

.mat-card-header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mat-card {
  padding-top: 0;
}

.mat-card-avatar {
  height: 50px;
  width: 50px;
}

.mat-card-title,
.mat-card-subtitle {
  margin-left: 15px;
  margin-right: 15px;
}

.mat-card-title h2 {
  margin: 0;
}

.mat-card-title {
  margin-top: 18px;
}

.mat-card-subtitle {
  margin-bottom: 18px;
}

.mat-card {
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}

.mat-card:hover {
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.02);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.02);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.02);
  transition: all 200ms ease-in;
  transform: scale(1.02);
}
