<div *ngIf="loading" style="width: 100vw;height: 100vh;display: flex;justify-content: center;">
  <img src="assets/loading.svg" >
</div>
<!-- <div style="width:70%; margin:auto"> -->
<!-- <perfect-scrollbar [config]="config"> -->
<div *ngIf="!loading" style="display:flex; flex-wrap: wrap;justify-content: center;align-items: baseline;height:100vh;overflow-y:scroll" infinite-scroll data-infinite-scroll
  debounce [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="1.5" [infiniteScrollThrottle]="300" (scrolled)="onScroll()"
  (scrolledUp)="onScrollUp()" [scrollWindow]="false">
  <mat-card *ngFor="let item of list; let i = index; trackBy: index" class="example-card" (click)="openDialog(item)">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image':'url(https://graph.facebook.com/'+ item.from?.id +'/picture?type=large)'}">
      </div>
      <mat-card-title>
        <h2>{{i}}
          <a style="text-decoration: none; color: #4267b2;" href="{{'https://facebook.com/' + item.from?.id}}" target="_blank">{{item.from?.name}}</a>
        </h2>
      </mat-card-title>
      <mat-card-subtitle>{{item.created_time | date:"'Ngày' MM 'tháng' dd 'năm' yyyy lúc H:M"}}</mat-card-subtitle>
    </mat-card-header>
    <img *ngIf="item.type==='photo'" mat-card-image src="{{item.full_picture}}" alt="Photo of a Shiba Inu">
    <video *ngIf="item.type==='video'" style="width: 100%;height: auto;" controls>
      <source src="{{item.source}}" type="video/mp4">
      <source src="{{item.source}}" type="video/ogg"> Your browser does not support the video tag.
    </video>
    <mat-card-content>
      <p style="white-space: pre-wrap;" [innerHTML]="item.message | emojis"></p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>{{item.likes?.count}} LIKES</button>
      <button mat-button>{{item.shares ? item.shares.count : 0}} SHARE</button>
      <button mat-button>{{item.comments ? item.comments.count : 0}} COMMENTS</button>
    </mat-card-actions>
  </mat-card>
</div>
<!-- </perfect-scrollbar> -->
<!-- </div> -->
